:root {
    /*definir variables*/
    --rojo: #9f3647;
    --texto-blanco: #ffffff;
    --fondo-negro: #000000;
    /* font-size: 16px;  -> por definicion los h1,h2 son 
        2m => 2 * 16px = 32px
    */
}

/*Selector universal*/
* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.ubuntu-bold {
font-family: "Ubuntu", sans-serif;
font-weight: 700;
font-style: normal;
}


/*selector de tipo (tag)*/
h1 {
    color: var(--rojo); /*ejemplo*/
}

/*selector de clase*/
.colorVerde {
    color: green;
}

.texto-blanco {
    color: var(--texto-blanco);
}

/*especificidad
    inline > id > clase > tipo
    !important
*/

.main {
    background-image: 
        linear-gradient(to right top, #0000008a, #0000008a), 
        url(imgs/banner-bg.jpg);
    height: 90vh;
    width: 99.1vw; /* esto estaba en 100vw (testeando limites) */
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_titulo {
    padding-top: 20vh;
    padding-bottom: 5vh;
    font-size: 3em;

}

.main_subtitulo {
    margin-bottom: 5vh;
}

.main_btn_registrarse{
    text-decoration: none;
    padding: 15px; /*espacio desde el borde hacia adentro*/
    background-color: var(--rojo);
    color: var(--texto-blanco);
    border-radius: 5px;
    width: 120px;
}

.header {
    /* height: 10vh; */
    background-color: var(--rojo);
    /* padding-top: 1vh; */
    padding-left: 3vw;
    height: 9vh;
    min-height: 50px;
    /*agrego flexbox*/
    display: flex;
    justify-content: center;  /*main axis*/
    align-items: center;
}

.header_logo {
    /* display: inline-block; */
    width: 20vw;
    height: 3vh;
    font-size: 1.3rem;
}

.header_logo_link {
    text-decoration: none;
    color: var(--texto-blanco);

}

.header_menu {
    /* display: inline-block; */
    display: flex;
    width: 78vw;
    height: 10vh; /*relativo*/
    /* padding-top: 2vh; */
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vw;


 }

 .header_menu a {
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
    color : var(--texto-blanco);
    font-size: 1.1rem;
 }

 .header_menu_login {
    background: black;
    padding: 1vh;
    border-radius: 5px;
 }

 /*formulario de busqueda */
.busqueda {
    text-align: center;
    /* height: 50vh; */
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
    /* margin-top: 5vh; se genera un fondo blanco */
    padding-top: 5vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.busqueda_form {
    padding-top: 6vh;
}

/* SELECTORES AVANZADOS */
/* 1 - hijos directos -> el primero que dentro de la etiqueta padra */
/* 2- el que sigue al hijo directo es el hermano */
/* h2 + form {  -> es generico
    padding-top: 5vh;
} */

/* .busqueda h2 + form -> no es generico {
    padding-top: 5vh;
} */

.input_search {
    padding: 2vh 3vh;
    text-transform: capitalize;
    border-radius: 25px;
    width: 28vw;
    border: none;
}

.btn_search {
    padding: 1.5vh 3vh;
    border-radius: 25px;
    border: 2px solid var(--texto-blanco);
    background-color: var(--rojo);
    color: var(--texto-blanco);
    font-weight: bold;
    font-size: 1rem;

}

.btn_search:hover {
    font-size: 1.1rem;
}

hr {
    margin: 0 auto;
    margin-top: 20vh;
    width: 82.5vw;
    border: 0.5px solid var(--rojo);
    /* background-color: var(--fondo-negro); */
    /* align-items: center;
    justify-content: center; */
}

.elemento_fijo {
    position: fixed;
    top: 91vh;
    left: 94vw;
    color: var(--texto-blanco);
    font-size: 1.5rem;
}




/* probando FLEX */
.flex-container {
    height: 100%;
    background-color: var(--fondo-negro);
    display: flex; /* Utiliza flexbox */
    flex-direction: row; /* Los elementos flexibles se colocan en filas */
    flex-wrap: wrap; /* Permite que los elementos flexibles se envuelvan en varias líneas si no caben en una sola línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding-left: 2vw;
}

.flex-container div {
    width: 10vw; /* Ancho del div en relación al ancho de la ventana */
    height: 30vh; /* Altura del div en relación a la altura de la ventana */
    background-color: var(--rojo); /* Color de fondo */
    margin: 2.5vh; /* Margen externo superior e inferior */
    margin-right: 3vw; /* Margen externo derecho */
    border-radius: 10px;
}


/* Media Query para dispositivos con un ancho máximo de 768px (tamaño de pantalla de dispositivos móviles) */
@media screen and (max-width: 768px) {
    .flex-container div {
        width: 85%; /* Los divs ocuparán el 90% del ancho del contenedor */
        margin: 6vh auto; /* Centra los divs horizontalmente */
        height: 60vh;
    }
    .flex-container h2 {
        font-size: 2rem !important; /* Tamaño de la fuente */
    
    }

    /* INPUT SEARCH */
    .input_search {
        width: 64%;
        padding: 1.5vh 3vh;
    }
    .btn_search {
        padding: 1vh 2vh;
        font-size: 1rem;
        /* margin-left: 2vw; */
    }
    .busqueda h2 {
        font-size: 1.6rem;
    
    }

    .elemento_fijo {
        top: 90vh;
        left: 90vw;
    }

}

.flex-container h2 {
    color: var(--texto-blanco); /* Color del texto */
    text-align: center; /* Alineación del texto */
    font-size: 2.3rem; /* Tamaño de la fuente */
    margin: 0; /* Elimina el margen por defecto */
    padding-top: 2vh;
    padding-bottom: 4vh; /* Añade un relleno alrededor del texto */
    flex-direction: column; /* Los elementos flexibles se colocan en columnas */
    width: 100%; /* Ancho del div en relación al ancho de la ventana */
}


/* BOTONES DE TENDENCIA */
.div_btn_tendencia {
    background-color: var(--fondo-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    border: none;
    
}

.btn_tendencia {
    padding: 2vh; /* Ajusta el espacio interior del botón según sea necesario */
    border-radius: 8px; /* Borde redondeado */
    border: 1px solid var(--texto-blanco); /* Borde del botón */
    background-color: var(--rojo); /* Color de fondo */
    font-weight: bold;
    color: var(--texto-blanco); /* Color del texto */
    font-size: 1rem; /* Tamaño de la fuente */
    margin: 10px; /* Margen exterior entre botones */
    text-decoration: none;
}

/* PELIS MÁS ACLAMADAS */
.caja_las_mas_aclamadas {
    background-color: var(--fondo-negro);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.caja_las_mas_aclamadas hr {
    margin-top: 0;
}

.caja_las_mas_aclamadas h2 {
    color: var(--texto-blanco);
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 4vh;
    text-align: center;
    
}

.pelis_mas_aclamadas {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;
    width: 83.5%;
    margin-left: 8.2%;
}

.caja_pelicula_aclamada {
    background-color: var(--rojo);
    width: 8vw;
    height: 25vh;
    /* margin-left: 2vw; */
    border-radius: 10px;
    margin-left: 2vw;
}


/* Cuando el ancho de la pantalla sea menor o igual a 768px (tamaño de pantalla de dispositivos móviles) */
@media screen and (max-width: 768px) {
    
    /* Ocultar todos los divs excepto los dos primeros */
    .pelis_mas_aclamadas .caja_pelicula_aclamada:nth-child(n+3) {
        display: none;
    }
    .caja_pelicula_aclamada {
        padding-left: 27vw;
        padding-right: 3vw;
        margin-left: 4vw;
        margin-right: 6vw;
    }

}

/* FOOTER  */
.footer {
    background-color: var(--rojo);
    color: var(--texto-blanco);
    padding: 6vh 0;
    text-align: center;
}

.footer a {
    color: var(--texto-blanco);
    text-decoration: none;
    margin-left: 1vw;
    font-size: 1.2rem;
}

.administrar_peliculas {
    color: var(--texto-blanco);
    text-decoration: none;
    background-color: var(--fondo-negro);
    padding: 1vh 1.1vw;
    border-radius: 5px
}